<p id="notice"><%= notice %></p>

<h1>Apps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Smtp key</th>
      <th>Smtp secret</th>
      <th>Smtp address</th>
      <th>Smtp port</th>
      <th>Smtp authentication</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td><%= app.name %></td>
        <td><%= app.smtp_key %></td>
        <td><%= app.smtp_secret %></td>
        <td><%= app.smtp_address %></td>
        <td><%= app.smtp_port %></td>
        <td><%= app.smtp_authentication %></td>
        <td><%= link_to 'Show', app %></td>
        <td><%= link_to 'Edit', edit_app_path(app) %></td>
        <td><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App', new_app_path %>
