<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Smtp key:</strong>
  <%= @app.smtp_key %>
</p>

<p>
  <strong>Smtp secret:</strong>
  <%= @app.smtp_secret %>
</p>

<p>
  <strong>Smtp address:</strong>
  <%= @app.smtp_address %>
</p>

<p>
  <strong>Smtp port:</strong>
  <%= @app.smtp_port %>
</p>

<p>
  <strong>Smtp authentication:</strong>
  <%= @app.smtp_authentication %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
